---
title: RatGraph.nyc Interactive Visualization
---
<h1><a href="/">RatGraph.nyc</a>: Reported Rodent Complaints in NYC from 2010 to 2014</h1>
<section id="graph" style="visibility: hidden;">
	<div id="choropleth-wrapper">
		<div>
			<h2>By Zip Code</h2>
		</div>
		<div id="choropleth">
			<div id="clear-map-button"><a class="reset button-link" href="javascript:choropleth.filterAll();dc.redrawAll();" style="display: none;">Clear Selections</a></div>
			<div id="legend"># Complaints</div>			
		</div>
	</div>
	<aside id="filters">
		<div id="demographicBubble">
			<div>
				<h2>Population Density vs. Median Income</h2>
				for <select id="topSelect">
					<option value="5">Top 5</option>
					<option value="10">Top 10</option>
					<option value="20">Top 20</option>
					<option value="all">All</option>
				</select> Zip Codes
			</div>
			<%= partial "filter_info_panel", :locals => { :chart_name => "bubble" } %>
		</div>
		<div id="smallCharts">
			<div id="boroughRow">
				<h2>By Borough</h2>
				<%= partial "filter_info_panel", :locals => { :chart_name => "boroughRow" } %>
			</div>
			<div id="topZipCodes">
				<h2>Top 5 Zip Codes</h2>
				<%= partial "filter_info_panel", :locals => { :chart_name => "topZipCodes" } %>
			</div>
			<div id="typeRow">
				<h2>By Complaint Type</h2>
				<%= partial "filter_info_panel", :locals => { :chart_name => "typeRow" } %>
			</div>
		</div>
		<div id="histogram">
			<div>
				<h2>By Month</h2>
				<span class="reset" style="display: none;">Current filter: <span class="filter"></span></span> 
				<a class="reset button-link" href="javascript:histogram.filterAll();dc.redrawAll();" style="display: none;">reset</a>
			</div>
		</div>
	</aside>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-queue/1.0.7/d3-queue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<%= javascript_include_tag "lib/d3/d3.min", "lib/crossfilter/crossfilter.min", "lib/dc/dc", "lib/spin.min", "lib/dc.leaflet", "ratviz" %>
